aside {
    position: relative;
    height: 364px;
    background: linear-gradient(30deg, #ff8f5a, #ff2f96) no-repeat;
    color: white;
}

.aside__flying__symbols {
    position: absolute;
    height: 50px;
    background-color: white;
    /* Градиент для текста */
    background-clip: text;
    -webkit-background-clip: text;
    /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent;
    /* Прозрачный текст */
    z-index: 1;
    font-weight: 900;
}

.aside__symbol1 {
    top: 68px;
    left: 125px;
    font-size: 50px;
    transform: rotate(30deg);
}

.aside__symbol2 {
    top: 260px;
    left: 245px;
    font-size: 55px;
    transform: rotate(20deg);
}

.aside__symbol3 {
    bottom: 7px;
    right: 410px;
    font-size: 38px;
    transform: rotate(20deg);
}

.aside__symbol4 {
    bottom: 50px;
    right: 105px;
    font-size: 50px;
    transform: rotate(-20deg);
}

.aside__symbol5 {
    top: 82px;
    right: 204px;
    font-size: 40px;
    transform: rotate(-20deg);
}


.aside__text1 {
    display: block;
    font-size: 45.6px;
    font-weight: bold;
    line-height: 1.3;
    padding: 75px 100px 0 115px;
}

.aside__text2 {
    display: block;
    font-size: 18.7px;
    line-height: 1.50;
    padding: 32px 100px 0 115px;
    max-width: 1000px;
}