/* CALL-BACK-WINDOW  */
@media (max-width: 650px) {
  .callback_window {
    max-width: 90%;
  }
}


/* HEADER */
@media (max-width: 1200px) {
  .fixed-container {
    max-width: 1024px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .menu__button {
    display: block;
  }

  .header__top nav {
    display: none;
  }

  /* Всплывающее меню */
  .header__top nav {
    /* display: inline-block; */
    position: absolute;
    z-index: 1;
    top: 90px;
    font-size: 25px;
  }

  .menu {
    border-bottom: 1px solid #ff2f96;
  }

  .menu li:hover {
    border-bottom: unset;
  }

  /* ***************** */

  .header__text {
    padding-top: 20px;
    padding-left: 0;
    font-size: 54px;
  }

  .eclipse {
    position: absolute;
    bottom: 80px;
    right: -175px;
    width: 900px;
    height: 560px;
    background: linear-gradient(30deg, #ff8f5a, #ff2f96) no-repeat;
    border-radius: 65% 35% 35% 65% / 50% 50% 50% 50%;
    transform-origin: 100% 0;
    transform: rotate(-32deg) skewY(5deg);
  }

  .man_shade {
    bottom: -55px;
    right: -20px;
  }

  .show__more__button {
    width: 320px;
  }

  .symbol1 {
    top: 160px;
    left: 80px;
  }

  .symbol2 {
    top: unset;
    bottom: 80px;
    left: 60px;
  }

  .symbol3 {
    top: 150px;
    right: 65px;
    left: unset;
  }

  .symbol4 {
    top: unset;
    left: unset;
    bottom: 160px;
    right: 65px;
    z-index: 10;
  }

  .symbol5 {
    top: unset;
    bottom: 130px;
    left: 360px;
  }
}

@media (max-width: 950px) {
  .fixed-container {
    padding-left: 0;
    padding-right: 0;
  }

  header {
    height: 650px;
  }

  .header__top {
    padding-left: 20px;
    padding-right: 20px;
  }

  .visual__container {
    height: 400px;
  }

  .eclipse {
    top: 400px;
    bottom: 0;
    right: unset;
    left: 10%;
    width: 500px;
    height: 350px;
    transform-origin: 0 0;
    transform: rotate(-50deg) skewY(5deg);
  }

  .man_shade {
    bottom: -70px;
    right: inset;
    left: 35%;
    background-size: 105%;
    height: 400px;
    width: 250px;
  }

  .man {
    top: unset;
    bottom: 30px;
    left: 25px;
    background-size: 105%;
    height: 370px;
    width: 220px;
  }

  .header__text {
    position: relative;
    top: unset;
    font-size: 30px;
    font-weight: 900;
    z-index: 20;
    background-color: white;
    text-align: center;
  }

  .myprofession {
    margin: 16px auto;
    width: 250px;
    font-size: 16.5px;
    word-wrap: break-word;
    line-height: 20px;
  }

  .show__more__button {
    font-size: 18px;
    color: white;
    background-color: #ff4e2e;
    height: 60px;
    width: 270px;
    margin-top: 0px;
  }
}

@media (max-width: 650px) {
  .symbol1 {
    top: 110px;
    left: 40px;
    font-size: 25px;
  }

  .symbol2 {
    top: 213px;
    bottom: unset;
    left: 35px;
    font-size: 30px;
  }

  .symbol3 {
    top: 152px;
    right: 38px;
    font-size: 18px;
    transform: rotate(15deg);
  }

  .symbol4 {
    display: none;
  }

  .symbol5 {
    top: 90px;
    bottom: unset;
    left: unset;
    right: 115px;
    font-size: 20px;
    transform: rotate(-30deg);
  }

  .header__top nav {
    top: 70px;
    font-size: 16px;
  }

  .header__top__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
  }

  .call__button {
    height: 26px;
    width: 26px;
    background: url(../img/call-answer-top.png) no-repeat center;
    border: none;
  }

  .call__button:hover {
    filter: saturate(10);
    background-color: unset;
  }

  .call__button span {
    display: none;
  }

  .phone__number {
    font-size: 18.5px;
    font-weight: bold;
    margin-right: 0;
    height: 100%;
  }

  .menu__button {
    width: 26px;
    height: 26px;
    background-size: contain;
  }

  .visual__container {
    height: 418px;
  }

  .show__more__button {
    font-size: 16.5px;
    color: white;
    background-color: #ff4e2e;
    height: 60px;
    width: 270px;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .eclipse {
    right: -10%;
    left: unset;
  }

  .man_shade {
    left: 15%;
  }
}

/* MAIN */

@media (min-width: 1201px) {
  .owl-dots {
    display: none;
  }

  .owl-nav {
    display: block;
  }
}

@media (max-width: 1200px) {
  .my__skills__list {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 680px;
  }

  .my__skills__list li {
    width: 300px;
    margin-bottom: 75px;
  }

  .first__section button {
    width: 320px;
    height: 70px;
    margin: 20px auto 0;
  }

  .second__section {
    height: 1052px;
    font-size: 25.5px;
  }

  .examples li {
    max-width: 455px;
    margin: 0 auto;
  }

  .owl-carousel .owl-item img {
    width: 100%;
  }

  .owl-dots {
    margin-top: 50px;
  }

  .second__section__button {
    width: 320px;
    height: 70px;
    margin: 10px auto;
  }
}

@media (max-width: 650px) {
  main section {
    padding: 53px 0;
  }

  main h1 {
    font-size: 30px;
    margin-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
  }

  .first__section {
    height: 910px;
  }

  .my__skills__list {
    justify-content: center;
    font-size: 17px;
    width: 280px;
  }

  .my__skills__list li {
    margin-bottom: 50px;
    padding-top: 70px;
    display: block;
    line-height: 25px;
    background-size: 60px;
  }

  .first__section button {
    width: 280px;
    height: 60px;
    margin: 0 auto;
    font-size: 17px;
  }

  .second__section {
    height: 660px;
    font-size: 18px;
  }

  .examples li {
    width: 280px;
    margin: 0 auto;
  }

  .examples li span {
    margin-top: 12px;
  }

  .second__section__button {
    width: 280px;
    height: 60px;
    font-size: 17px;
    margin: 5px auto 0;
  }

  .owl-dots {
    margin-top: 10px;
  }

  .owl-carousel .owl-item img {
    /* width: 280px; */
    height: 250px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 40px 7px;
  }
}

/* ASIDE */

@media (max-width: 1500px) {
  .aside__symbol1 {
    top: 30px;
    left: 150px;
    font-size: 30px;
  }

  .aside__symbol2 {
    display: none;
  }

  .aside__symbol3 {
    right: 450px;
    font-size: 26px;
  }

  .aside__symbol4 {
    display: none;
  }

  .aside__symbol5 {
    top: unset;
    bottom: 20px;
    right: 85px;
  }
}

@media (max-width: 1200px) {
  .aside__text1 {
    padding: 75px 0 0 0;
  }

  .aside__text2 {
    padding: 30px 100px 0 0;
  }
}

@media (max-width: 950px) {
  .aside__text1 {
    padding: 42px 20px 0 20px;
  }

  .aside__text2 {
    padding: 30px 100px 0 20px;
  }
}

@media (max-width: 750px) {
  .aside__text1 {
    font-size: 40px;
  }

  .aside__text2 {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  aside {
    height: 437px;
  }

  .aside__flying__symbols {
    display: none;
  }
}

@media (max-width: 450px) {
  .aside__text1 {
    font-size: 28.3px;
    line-height: 40px;
  }

  .aside__text2 {
    font-size: 15.5px;
    line-height: 30px;
    padding: 30px 20px 0 20px;
  }
}

/* FOOTER */

@media (max-width: 1200px) {
  .footer {
    padding-top: 100px;
    justify-content: space-between;
  }

  .footer__left {
    width: 18%;
  }

  .footer__center {
    margin: 10px 0 0 0;
  }

  .footer__right {
    padding-left: 20px;
  }
}

@media (max-width: 950px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 650px) {
  .footer {
    height: 450px;
    flex-direction: column;
    justify-content: start;
    padding: 40px 20px 0 20px;
  }

  .footer__center {
    margin-top: 25px;
  }

  .footer__center a {
    font-size: 21px;
    padding-left: 30px;
  }

  .envelope {
    background-size: 13px;
  }

  .call-answer {
    margin-bottom: 30px;
    background-size: 14px;
  }

  .footer__right {
    margin-top: 27px;
    padding-left: 0;
  }

  .footer__call__button {
    width: 280px;
    height: 60px;
    font-size: 17px;
    color: white;
    background-color: #f53f4f;
    border: none;
    margin-bottom: 35px;
  }

  .copyright {
    padding: 15px 0;
    background-color: #322a3d;
    color: white;
    font-size: 13px;
    text-align: center;
  }
}