.new-popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.5);

}

.new-popup-window {
    position: relative;
    margin: 35vh auto 0;
    height: 0;
    width: 500px;
    background: linear-gradient(30deg, #ff8f5a, #ff2f96);
    padding: 45px 45px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    border-radius: 5%;

    font-family: "Roboto";
}

.new-popup-window__phone {
    margin: 20px 0 20px;
    height: 35px;
    width: 100%;
    padding-left: 10px;
    background: #fbfbfb;
}

.new-popup-window__name {
    margin: 20px 0 20px;
    height: 35px;
    width: 100%;
    padding-left: 10px;
    background: #fbfbfb;
}

.new-popup-window__send-button {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 45px;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fbfbfb;
    color: #f53f4f;
    font-size: 16px;
    font-weight: 500;
}

.new-popup-window__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    background: url(../img/close.png) no-repeat center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    background-size: contain;
}

.error {
    border: 2px solid red;
}